.container{
    margin: auto;
    gap: 20px;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.chartsContainer{
    gap: 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.pieChart{
    padding: 20px;
    background-color: #ececec;
    box-shadow: 0px 0px 5px #0008;
    border-radius: 10px;
}

.lineChart{
    padding: 70px 20px;
    background-color: #ececec;
    box-shadow: 0px 0px 5px #0008;
    border-radius: 10px;
}

.transactionsShowButton{
    padding: 12px 20px;
    border-radius: 10px;
    background-color: #28c2ff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.transactionsShowButton:hover {
    background-color: #1aa3d8;
}