main{
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: row nowrap;

    position: relative;
}

.layout{
    width: 200px;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    background-color: aquamarine;
}