main{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.layout{
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: aquamarine;
}